body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
  box-sizing: border-box;
}

*,
*:before, 
*:after{
  box-sizing: inherit;
}

.overflow{
  overflow: hidden;
}

.is-open{
  transition: transform .5s !important;
  transform: translateX(0%) !important;

}

.is-open-sinopsis{
  display: block !important;
}

.null{
  display: none;
}


.collapse-css-transition {
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;
  width: 100% !important;
}
